*{
    margin:0 px;
    background-color: #dddd;
}

header ,main ,nav , footer{
    border-radius: 15px;
    border: 2px solid red ;
    margin-bottom: 20px;
}

main ,nav{
    height: 500px;

}
main{
    width: 60%;
}
nav{
    width: 30%;
}

.par{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}




